<!DOCTYPE html>
<!--[if IE 8]> <html lang="ru" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="ru" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="ru"> <!--<![endif]-->
<head>
    <title>{{.AboutMe.Name}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.AboutMe.Description}}">
    <meta name="author" content="{{.AboutMe.Name}}">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles-3.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="wrapper">

    <div class="sidebar-wrapper">
        <div class="profile-container">
            <img class="profile" src="assets/images/profile.png" alt="" />
            <h1 class="name">{{.AboutMe.Name}}</h1>
            <h3 class="tagline">{{.AboutMe.Role}}</h3>

            <div class="contact-container container-block" style="padding: 30px 0 0 0;">
                <ul class="list-inline contact-list" style="margin: 0 0 -15px 0;">
                    {{if .AboutMe.Social.Github}}<li><a href="https://github.com/{{.AboutMe.Social.Github}}" target="_blank" title="GitHub: {{.AboutMe.Social.Github}}"><i class="fa fa-github"></i></a></li>{{end}}
                    {{if .AboutMe.Social.Linkedin}}<li><a href="https://linkedin.com/in/{{.AboutMe.Social.Linkedin}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>{{end}}
                    {{if .AboutMe.Social.Twitter}}<li><a href="https://twitter.com/{{.AboutMe.Social.Twitter}}" target="_blank" title="Twitter: {{.AboutMe.Social.Twitter}}"><i class="fa fa-twitter"></i></a></li>{{end}}
                    {{if .AboutMe.Social.Medium}}<li><a href="https://medium.com/@{{.AboutMe.Social.Medium}}" target="_blank" title="Medium: @{{.AboutMe.Social.Medium}}"><i class="fa fa-medium"></i></a></li>{{end}}
                </ul>
            </div><!--//contact-container-->

        </div><!--//profile-container-->

        <noindex>
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    {{if .AboutMe.Contacts.Email}}<li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{.AboutMe.Contacts.Email}}">{{.AboutMe.Contacts.Email}}</a></li>{{end}}
                    {{if .AboutMe.Contacts.Phone}}<li class="phone"><i class="fa fa-phone"></i><a href="tel:{{.AboutMe.Contacts.Phone}}">{{.AboutMe.Contacts.Phone}}</a></li>{{end}}
                    {{if .AboutMe.Contacts.Skype}}<li class="skype"><i class="fa fa-skype"></i><a href="skype:{{.AboutMe.Contacts.Skype}}" target="_blank" title="Skype: {{.AboutMe.Contacts.Skype}}">{{.AboutMe.Contacts.Skype}}</a></li>{{end}}
                </ul>
            </div><!--//contact-container-->
        </noindex>

        {{if .Educations}}
        <div class="education-container container-block">
            <h2 class="container-block-title">Образование</h2>
            {{range $education := .Educations}}
            <div class="item">
                <h4 class="degree">{{$education.Degree}}</h4>
                <h5 class="meta">{{$education.Name}}</h5>
                <div class="time">{{$education.Start}} - {{if $education.End}}{{$education.End}}{{else}}наст. время{{end}}</div>
            </div><!--//item-->
            {{end}}
        </div><!--//education-container-->
        {{end}}

        {{if .AboutMe.Languages}}
        <div class="education-container container-block">
            <h2 class="container-block-title">Языки</h2>
            {{range $language := .AboutMe.Languages}}
            <div class="item">
                <h4 class="degree">{{$language.Name}}</h4>
                <h5 class="meta">{{$language.Level.Description}}</h5>
            </div><!--//item-->
            {{end}}
        </div><!--//interests-->
        {{end}}

    </div><!--//sidebar-wrapper-->

    <div class="main-wrapper">

        {{if .AboutMe.Description}}
        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>Инфо</h2>
            <div class="summary">
                <p>{{.AboutMe.Description}}</p>
            </div><!--//summary-->
        </section><!--//section-->
        {{end}}

        {{if .Skills}}
        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>Навыки</h2>
            <div class="skillset">
                {{range $skill := .Skills}}
                <div class="item">
                    <h3 class="level-title">{{$skill.Name}}</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="{{$skill.Progress}}"></div>
                    </div><!--//level-bar-->
                </div><!--//item-->
                {{end}}
            </div>
        </section><!--//skills-section-->
        {{end}}

        {{if .Organizations}}
        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Опыт</h2>

            {{range $organization := .Organizations}}
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{$organization.Role}}</h3>
                        <div class="time">{{$organization.Start}} - {{if $organization.End}}{{$organization.End}}{{else}}наст. время{{end}}</div>
                    </div><!--//upper-row-->
                    <div class="company"><a href="{{$organization.Link}}" target="_blank">{{$organization.Name}}</a> {{$organization.City}}</div>
                </div><!--//meta-->

                {{if $organization.Description}}
                <div class="details">
                    <p>{{$organization.Description}}</p>
                </div><!--//details-->
                {{end}}

                {{if $organization.Projects}}
                <ul>
                    {{range $project := $organization.Projects}}
                    <li>
                        <span class="project-title"><a href="{{$project.Link}}" target="_blank">{{$project.Name}}</a></span> &mdash;
                        <span class="project-tagline">{{$project.Description}}</span>

                        {{if $project.Role}}
                        <div class="project-item">
                            <b>Моя роль</b><br>
                            {{$project.Role}}
                        </div>
                        {{end}}

                        {{if $project.Challenges}}
                        <div class="project-item">
                            <b>Интересные задачи</b>
                            <ul>
                                {{range $project.Challenges}}
                                <li>{{.}}</li>
                                {{end}}
                            </ul>
                        </div>
                        {{end}}

                        {{if $project.Technologies}}
                        <div class="project-item">
                            <b>Технологии</b><br>
                            {{$project.Technologies}}
                        </div>
                        {{end}}
                    </li>
                    {{end}}
                </ul>
                {{end}}

            </div><!--//item-->
            {{end}}

        </section><!--//section-->
        {{end}}

        {{if .Projects}}
        <section class="section projects-section">
            <h2 class="section-title"><i class="fa fa-archive"></i>Мои проекты</h2>

            {{range $project := .Projects}}
            <div class="item">
                <span class="project-title"><a href="{{$project.Link}}" target="_blank">{{$project.Name}}</a></span> &mdash;
                <span class="project-tagline">{{$project.Description}}</span>

                {{if $project.Role}}
                <div class="project-item">
                    <b>Моя роль</b><br>
                    {{$project.Role}}
                </div>
                {{end}}

                {{if $project.Challenges}}
                <div class="project-item">
                    <b>Интересные задачи</b>
                    <ul>
                        {{range $project.Challenges}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>
                {{end}}

                {{if $project.Technologies}}
                <div class="project-item">
                    <b>Технологии</b><br>
                    {{$project.Technologies}}
                </div>
                {{end}}
            </div>
            {{end}}

        </section><!--//section-->
        {{end}}

    </div><!--//main-body-->
</div>

<footer class="footer">
    <div class="text-center">
        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Генератор <a href="https://github.com/noxt/cvgen" target="_blank">cvgen</a>. Дизайн <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
    </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>

